@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif; 
*/
*{margin: 0px; padding: 0px; border: 0px; color: #111827; font-family: 'Lato', sans-serif; font-stretch: normal; font-style: normal; letter-spacing: normal; font-weight: 400; font-size: 12px; box-sizing: border-box; word-break: keep-all;}
html,body {background: #F1F3F7; width:100%; height: 100%; overflow: hidden;}
a {text-decoration: none;}
a:hover {text-decoration: none;}
img,input,select {vertical-align: middle;}
img{object-fit: none;}
li {list-style: none;}
p{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;width: 100%;}

select,
input{outline: none; font-family: 'Roboto', sans-serif !important;}
html{background: #F0F2F5; width: 100%; height: 100%;}
body{display: flex; flex-direction: column;}


.menu{position:fixed; z-index: 11;top: 0px; left: 0px; width: 55px; height: 100vh; background: #FFFFFF; box-shadow: 0px 1px 4px -1px rgba(28, 48, 74, 0.5);}
.header{width: 100%; height: 55px; background-color: #242A33; flex-shrink: 0;}

.footer{width: 100%; height: 55px;padding: 0px 20px 0px 75px; box-sizing: border-box; border-top:1px solid #A0ACBF; flex-shrink: 0; background: #FFFFFF; display: flex; justify-content: space-between; align-items: center; z-index: 10; position: relative;}
.footer>div{display: flex; gap:10px ;}
.footer>div.txt{font-weight: 300; color: #8695AD; font-size: 12px; text-align: center;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.footer>div>button{ color: #325BDA; border: 1px solid #325BDA; border-radius: 4px; padding: 8px 10px; background: transparent;}
.footer>div>button.on,
.footer>div>button:hover{background: #325BDA; color: #ffffff;}

.wrap{padding: 20px 0px 20px 55px; flex: auto; overflow: auto; display:flex; gap: 0px; min-width: 1440px; position: relative;}
.wrap .main_con{flex-grow: 1;}
.wrap .main_con .mc_top{padding: 0px 20px;}
.wrap .main_con .mc_top .st_tit{ margin-bottom: 10px;}
.l_line{color: #DBE0E9 !important;}
/*
.input_wrap input:focus,
select:focus{ border: 1px solid #2C51BF;}
*/
.input_wrap{position: relative;}
.input_ck { background: url(/oceans/img/Close.png) no-repeat; position: absolute; top: 50%;
  transform: translateY(-50%); right: 6px;  width: 8px;   height: 8px;  cursor: pointer;  z-index: 10;}
.icon_sl .input_ck{right: 25px;}
.basic_search_wrap{display: flex;align-items: center; font-weight: 400;  gap: 10px;}
.basic_search{ display: flex; align-items: center;padding: 1px; background: #C3CBD9}
.basic_search select,
.basic_search input{ border-radius: 2px;width: 110px; height: 27px;padding:0px 20px 0px 5px; }

select { outline: none; position: relative;
-webkit-appearance: none; -moz-appearance: none;  appearance: none;
  background:#FFFFFF url(/oceans/img/dropdown.png) no-repeat 97% 50%; 
} 

/*라디오박스*/
input[type='radio'] { -webkit-appearance:none; position: relative; border:1px solid #D9D9D9;  border-radius:50%; outline:none; height: 14px;  width: 14px; background:transparent;}
input[type='radio']:before { content:''; position:absolute;top:-3px; left:3px; width:16px; height:16px; background:transparent; display:block; border-radius:50%; }
input[type='radio']:checked:before { content:''; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); width:70%; height:70%; background:#325BDA;}
input[type='radio']:checked{border:1px solid #325BDA ;}


/*체크박스 색상변경 이미지로*/
input[type='checkbox'] { -webkit-appearance:none; position: relative;  outline:none; background:transparent; width: 16px; height: 16px !important; margin: 0px;border-radius:3px;background: url(/oceans/img/check.png)no-repeat center center;}
input[type='checkbox']:before { content:''; position:absolute;  background:transparent;display:block;  border-radius:3px;}
input[type='checkbox']:checked:before { content:''; position:absolute; width:100%; height:100%;  background: url(/oceans/img/check_ac.png)no-repeat center center; border:0 none; background-size: 100%;}
input[type='checkbox']:checked{border:0 none;}

/*스크롤바*//* pmr수정 */
.side_menu ::-webkit-scrollbar {width: 0px;}
::-webkit-scrollbar {width: 0px; height: 0px; border: 3px solid #fff; border-radius: 10px;}
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner{display:none;}
/*::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: #f5f5f5}*/
::-webkit-scrollbar-track {background: #f5f5f5; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background:rgba(0,0,0,0.15); -webkit-border-radius: 10px; border-radius: 10px;-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}

.f_bw{display: flex; justify-content: space-between; align-items: center;}
.f_g10{display: flex; gap: 10px; align-items: center;}

.mg0{margin:0px !important;}
.mg_r1{margin-right:1px !important;}
.mg_l1{margin-left:1px !important;}

.w50{width:35px !important;}
.w50{width:50px !important;}
.w65{width:65px !important;}
.w70{width:70px !important;}
.w80{width:80px !important;}
.w130{width:130px !important;}
.w150{width:150px !important;}
.w170{width:170px !important;}
.w400{width:400px !important;}

.summary{width: 180px;flex-shrink: 0;}/*summary_position width 보다 40px작게*/
.summary_position{position: fixed; top: 55px; right: 0px; width: 180px; height: calc(100% - 55px); background: #FFFFFF;border-left: 1px solid #C3CBD9; overflow: auto;}
.summary_position .sm_tit{border-bottom: 1px solid #EAEFF5; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);height: 36px; width: 100%; background-color: #ffffff; line-height: 36px; padding: 0px 10px; font-weight: 700; font-size: 13px;color: #325BDA; position: relative;}
.summary_position>div .sm_tit .arr{position: absolute; top: 15px; right: 12px; transition: all 1s; background: url(/oceans/img/arr.png)no-repeat center center; width: 12px; height: 8px;}
.summary_position>div.on .sm_tit .arr{transform: rotate(-180deg); transition: all 1s;}

.summary_position>div .sm_list{display: none;}

.toggleSwitch { width: 28px; height: 16px; display: inline-block; position: relative; border-radius: 30px; background-color: #C3CBD9; box-shadow: 0 0 16px 1px rgba(195 203 217 / 15%); cursor: pointer; margin: 0px;}
.toggleSwitch .toggleButton {  width: 13px; height: 13px; position: absolute; top: 50%; left: 2px; transform: translateY(-50%); border-radius: 50%; background: #ffffff;}

.toggle:checked~.toggleSwitch { background: #325BDA;}
.toggle:checked~.toggleSwitch .toggleButton {left: calc(100% - 14.5px);background: #fff;}
.toggleSwitch,
.toggleButton {  transition: all 0.2s ease-in;}


.section_box{background: #FFFFFF; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); padding: 15px 20px;min-height: 300px;}
.section_box.top0{padding: 0px 20px 15px 20px;}
.section_box.flex{display: flex; gap: 16px; align-items: center; position: relative; flex-wrap: wrap; min-height: 68px; border-radius: 12px; margin-bottom: 22px;}

.search_btn{position: absolute; bottom: -14px; right: 10px;  display: flex; gap: 8px; }
.search_btn>button{border: 1px solid #325BDA; border-radius: 20px;height: 30px;padding: 10px; display: flex; align-items: center; justify-content: center;}

.search_btn>button.breset{border: 1px solid #DCE1E9; width: 30px; background:#FFFFFF url(/oceans/img/Boxicons.png)no-repeat center center;}
.search_btn>button.bsearch{background: #325BDA;font-weight: 500; font-size: 13px; color: #FFFFFF; min-width: 66px;}

.sbox_wrap{border-top: 1px solid #DBE0E9; padding: 20px 0px}

.st_tit,
.sbox_tit{display: flex; justify-content: space-between; align-items: center;}
.sbox_tit{margin-bottom: 15px;}
.main_con>.st_tit{margin-bottom: 15px;}

.st_tit_wrap{display: flex;  gap: 15px; align-items: center;}
.stt_tit {font-weight: 600; font-size: 18px;}
.stt_tit span{background: #DCE5F3;  border-radius: 10px;padding: 2px 7px;color: #325BDA; margin-left: 5px;}
.stt_tit span .Bookmark{ width: 13px;height: 13px; background: url(/oceans/img/Star.png)no-repeat center center;}
.stt_tit span .Bookmark.on{background: url(/oceans/img/Star_on.png)no-repeat center center}

.st_tit .stt_stiit{display: flex;  gap: 10px; font-weight: 400;  color: #8695AD; font-size: 12px; align-items: center;}
.st_tit .stt_stiit .stt_txt{font-weight: 500; font-size: 12px;color: #627594;}
.st_tit .stt_stiit .stt_txt span{margin-left: 5px;}
.st_tit .stt_stiit .stt_txt span .copy_img{width: 15px;height: 15px; background: url(/oceans/img/copy.png)no-repeat center center; vertical-align: sub; display: inline-block;margin-left: 2px; cursor: pointer;}

.st_tit .link_box{ display: flex; }
.st_tit .link_box>div{border: 1px solid #DBE0E9; background-color: #FFFFFF !important; width: 30.5px; height: 30px;text-align: center; line-height:27px; cursor: pointer;}
.st_tit .link_box>div.csv{background: url(/oceans/img/h_img1.png)no-repeat center center;}
.st_tit .link_box>div.xls{background: url(/oceans/img/h_img2.png)no-repeat center center;}
.st_tit .link_box>div.pdf{background: url(/oceans/img/h_img3.png)no-repeat center center;}
.st_tit .link_box>div.png{background: url(/oceans/img/h_img4.png)no-repeat center center;}
.st_tit .link_box>div.pl{background: url(/oceans/img/h_img5.png)no-repeat center center;}
.st_tit .link_box>div:first-child{border-radius: 5px 0px 0px 5px;}
.st_tit .link_box>div:last-child{border-radius: 0px 5px 5px 0px; }

.sbox_cox_fg1{display: flex; gap: 10px; align-items: stretch;}
.sbox_cox_fg1>div{flex-grow: 1; flex-basis: 0; padding: 0px 10px;box-sizing: border-box; font-weight: 600; font-size: 13px;}
.sbox_cox_fg1>div:nth-child(odd){border-right: 1.5px dashed #DBE0E9;}
.sbox_cox_fg1.brdl>div{border-right: 1.5px dashed #DBE0E9;}
.sbox_cox_fg1.brdl>div:last-child{border-right: 0px;}
.form-label { margin-bottom: 0.5rem; font-weight: 400; font-size: 12px;  background-color: #ffffff;  position: relative;  z-index: 9;  margin-left: 8px; padding: 0 4px; }

.search_wrap{width: 190px; }
.search{margin-top: -8px; width: 100%; display: flex; align-items: center; gap: 5px;}
.search .search_inner { position: relative; background-color: transparent;font-weight: 500;font-size: 13px;border: 1px solid #CED4DB;line-height: 1.5;border-radius: 0.5rem;min-height: auto; padding: 8px 7px; width: 100%;}

.search .search_inner select,
.search .search_inner input {width: 100%; font-weight: 500;font-size: 13px;color: #24313D; outline: none;}


.tooltip {position: relative;}
.tooltip .tt_icn{width: 18px; height: 18px; background: url(/oceans/img/ic_tooltip.png)no-repeat center center; }
.tooltip:hover .tt_icn{width: 18px; height: 18px; background: url(/oceans/img/ic_tooltip_on.png)no-repeat center center;}
.tooltip:hover .tt_con{display: block;}
.tooltip .tt_con{position: absolute;  top: 35px; left: 50%; transform: translate(-50%, 0%); background: #FFFFFF; box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25); width: 214px; padding: 15px 12px; box-sizing: border-box; z-index: 99; font-weight: 500; display: none;}
.tooltip .tt_con:after { content: '';  position: absolute; top: 0;  left: 50%;  width: 0;  height: 0;  border: 10px solid transparent;  border-bottom-color: #FFFFFF;  border-top: 0;  margin-left: -10px; margin-top: -10px;}


.st_tit{font-weight: 600; font-size: 15px; position: relative;}
.st_tit.ip_check::after{content: "*"; position: absolute; right: -8px; top: 0px; color:#EF4444 ;}
.st_tit.Refresh::before{content: ""; position: absolute; right: -36px; top: 0px; color:#EF4444 ; width: 23px; height: 23px; background: url(/oceans/img/ic_Refresh.png)no-repeat center center;}

.sb_title{display: flex; justify-content: space-between; align-items: center; height: 40px; gap: 10px;}
.sb_title .sb_l,
.sb_title .sb_r{display: flex; gap: 16px; align-items: center;}
.sb_title .sb_l>div,
.sb_title .sb_r>div{color: #465773;font-weight: 400; font-size: 13px;gap: 5px;display: flex;}
.sb_title .sb_r>div .Status_img{background: url(/oceans/img/Mask_group.png)no-repeat center center; width: 60px; height: 20px;}
.Close,
.sb_title .sb_r>div .Close{width: 8px; height: 15px; background: url(/oceans/img/Close.png)no-repeat center center; display: inline-block; vertical-align: sub;}
.sb_title .sbr_box{border: 1px solid #DBE0E9; border-radius: 4px;padding: 0px 4px; text-align: center; cursor: pointer;font-size: 11px; font-weight: 400;}

.sbt_b,
.sb_title .sb_l>div span,
.sb_title .sb_r>div span{color: #000000;font-weight: 500; font-size: 13px;}
.sb_title .sb_l .line,
.sb_title .sb_r .line{ color: #DBE0E9;}



/*서머리 부분*/ 
.route_txt{padding: 12px 13px;}
.route_txt .rt_box{border-bottom: 1px dashed #C3CBD9; padding: 10px 0px;}
.route_txt .rt_box .rt_tit{font-weight: 500;font-size: 11px; color: #8695AD;}
.route_txt .rt_box .rt_tit.ud{text-decoration: underline; margin-bottom:13px ; text-underline-offset: 3px; cursor: pointer;}
.route_txt .rt_box .rt_tit.ud:hover{color: #325BDA;}
.route_txt .rt_box .rt_con{font-weight: 600;color: #000000; font-size: 12px; margin-bottom:13px ;}
.route_txt .rt_box .rt_con:last-child{margin-bottom: 0px;}
.route_txt .rt_box .rt_con .rtc_txt{margin: 5px 0px;}
.route_txt .rt_box .rt_con .rtc_txt>div{text-align: center; font-weight: 600; font-size: 12px; color: #000000;}
.route_txt .rt_box .rt_con .rtc_txt>div.ld_img{background: url(/oceans/img/ld.png)no-repeat center center;  width: 3px; height: 9px; margin: 0 auto;}
.route_txt .rt_box .rt_con .rtc_txt>div .ship{margin-right: 5px; width: 15px; height: 10px; background: url(/oceans/img/ship.svg)no-repeat center center; display: inline-block; }
.route_txt .rt_box .rt_con .rtc_route{display: flex; justify-content: space-between;}
.route_txt .rt_box .rt_con .rtc_route .rtcr_p1{color: #2C51BF;font-weight: 600; font-size: 9px; margin-right: 5px;flex-shrink: 0;width: 60px;}
.route_txt .rt_box .rt_con .rtc_route .rtcr_p1 span{font-weight: 600;color: #000000; font-size: 12px;}
.route_txt .rt_box .rt_con .rtc_route .rtcr_p1.r{text-align: right;}
.route_txt .rt_box .rt_con .rtc_route .line{ color: #DBE0E9;}

 
.route_wrap {padding:10px; background-color: #f6f8fa; }
.route_wrap .route_list {position: relative;overflow: hidden;}
.route_wrap .route_list li {position: relative;display:table;min-height: 44px; cursor: pointer}
.route_wrap .route_list li:first-child{margin-top: 10px;}
.route_wrap .route_list li:last-child{margin-bottom: 10px;}
.route_wrap .route_list .date_inner {position: relative;display:table-cell;width:0px;border-right:dotted 3px #A0ACBF; padding-left: 15px; z-index: 5;}
.route_wrap .route_list .txt_inner {position:relative;display:table-cell;width:379px;padding-left: 15px; z-index: 5;} 
.route_wrap .route_list .txt_inner:before {content:'';position: absolute;left:-9px;top:0;width: 16px;height: 16px;border-radius: 10px;border: solid 3px #A0ACBF;background-color: #ffffff;box-sizing: border-box;}


.route_wrap .route_list li:nth-last-child(1) .date_inner {border-color: transparent;}
.route_wrap .route_list li:nth-last-child(1) {min-height: auto;}
.route_wrap .route_list li:nth-last-child(1) .txt_inner span {margin-bottom: auto;}

.route_wrap .route_list li.on .txt_inner:before {border: solid 2px #13161a; background: url(/oceans/img/rt_Ellipse.png)no-repeat center center; width: 16px;height: 16px;}
.route_wrap .route_list li.now .txt_inner:before{border: 2px solid #325BDA;}
.route_wrap .route_list li.now::after{content: "";position: absolute; top: -8px; left: 0px; background: #BECCF3; width: 150px; height: 32px; border-radius: 2px;}
.route_wrap .route_list li:hover::after{content: "";position: absolute; top: -8px; left: 0px; border:1px solid #BECCF3; width: 150px; height: 32px; border-radius: 6px; box-sizing: border-box;}
.route_wrap .route_list .txt_inner p {font-size: 12px;font-weight: 600; color: #8695AD;}
.route_wrap .route_list li.on .txt_inner p{ color: #13161a;}
.route_wrap .route_list li.now .txt_inner p{ color: #325BDA;}
/*서머리 부분*/
       

/*기본 테이블*/
.basic_t{width: 100%; table-layout: fixed;  border-collapse: collapse; font-family: 'Source Sans Pro';border: 1px solid #CED4DB;}
.basic_t th,
.basic_t tr td{text-align: left; padding: 5px 10px;border: 1px solid #CED4DB; height: 30px;}
.basic_t th{background: #ECF0FC; border: 1px solid #CED4DB; font-weight: 600;font-size: 13px;}
.basic_t tr td{font-weight: 400;font-size: 13.5px;}
.basic_t tr th:nth-child(2),
.basic_t tr td:nth-child(3){text-align: center;}
.basic_t tr td.search_tic{width:15px ; height: 15px; background: url(/oceans/img/icon-wrapper.png)no-repeat center center; cursor: pointer;}
/*기본 테이블*/                          



.grid_tit{display: flex; justify-content: space-between; margin:35px 0px 10px 0px;}
.grid_tit .gt_r .gtr_tit,
.grid_tit .gt_l .gtl_tit{font-weight: 600; font-size: 15px; height: 20px;}

.grid_tit .gt_l .gtl_con{display: flex; gap: 10px; align-items: center;}
.grid_tit .gt_l .gtl_con>div{font-weight: 400; font-size: 13px;color: #465773; display: flex; align-items: center;}
.grid_tit .gt_l .gtl_con>div span{font-weight: 500; font-size: 13px;color: #1D1C23; margin-left: 8px;}



/*Booking Master*/
.alc_wrap{display: none;}
.add_info{overflow: hidden; margin-bottom: 15px;}
.add_info .al_tit{display: flex; height: 38px; line-height: 37px; gap:10px; align-items: center;}
.add_info .al_tit .pl_mi{width: 14px; height: 14px; background: url(/oceans/img/pius.png)no-repeat center center;}
.add_info .al_tit.on .pl_mi{background: url(/oceans/img/minus.png)no-repeat center center;}
.add_info .al_tit>div:first-child{flex-basis: 15px;flex-shrink: 1; text-align: center;}
.add_info .al_tit .al_name{border-bottom: 1px dashed #C3CBD9; flex-grow: 1; font-weight: 600;color: #24313D; font-size: 14px; display: flex; justify-content: space-between;}
.add_info .al_tit.on .al_name{border-bottom: 0px dashed #C3CBD9;}

.al_op{display: flex; gap: 15px; margin-top: 10px; align-items: center; }
.al_con{display: flex; justify-content: center; align-items: center;}
.al_con>div{flex-grow: 1; border: 1px solid; border: 1px solid #C3CBD9; text-align: center; height: 30px;justify-content: center; align-items: center; display: flex;}
.al_con>div label{cursor: pointer;}
.al_con>div label input{margin-right: 5px;}
.al_con>div.on label{color: #325BDA; text-decoration: underline;  text-underline-offset: 3px;}
.al_con>div .new_win{margin-left: 5px; display: none;}
.al_con>div.on .new_win{display: block; width: 15px; height: 15px; background: url(/oceans/img/new_win.png)no-repeat center center; cursor: pointer;}
/*Booking Master*/



/*테이블*/
.normal_t{width: 100%;  border-collapse: separate; border-spacing: 0 10px;}
.normal_t tr th,
.normal_t tr td{height: 27px;text-align: right;white-space: nowrap; font-size: 12px; }
.normal_t tr th{border-right: 1px solid #C3CBD9;padding: 0px 5px 0px 5px;}

.normal_t tr td{border: 1px solid #C3CBD9;border-left: 0px !important;}
.normal_t tr td:nth-child(2){ border-radius: 2px 0px 0px 2px; border-style: hidden; border: 1px solid #C3CBD9;}
.normal_t tr td:last-child{ border-radius: 0px 2px 2px 0px; border-style: hidden;    border-width: 1px 1px 1px 0px; border-style: solid; border-color:#C3CBD9}

.normal_t tr td.Es{border: 1px solid #325bda!important;}
.normal_t tr td.ds{background: #F9F9FC;}
.normal_t tr td.nb{border: 0px solid #CFD5E1!important;}
.normal_t tr td.tr{text-align: right; padding: 0px;}
.normal_t tr td label{padding: 0px 5px;}

.wrapper-input.gt{border: 1px solid #C3CBD9;}

.wrapper-input{position: relative; width: 100%; height: 100%; }
.wrapper-input.sci input{padding: 6px 38px 6px 5px}
.wrapper-input.sci .input_ck{right: 25px;}

.wrapper-input select,
.wrapper-input input{width: 100%; padding: 0px 5px 0px 5px;  padding-right: 20px; height: 27px;}
.wrapper-input input:disabled { color: #24313D; background: #F9F9FC;}
.wrapper-input input::Placeholder{ color: #CFD5E1;}

.wrapper-input>.date_ic,
.wrapper-input>.search_ic{ position: absolute;   right: 5px;  top: 50%;  transform: translateY(-50%);  cursor: pointer;  width: 15px;  height: 15px;}
.wrapper-input>.search_ic{background: url(/oceans/img/icon_search.png)no-repeat center center}
.wrapper-input>.date_ic{background: url(/oceans/img/icon_date.png)no-repeat center center}

.wrapper-input.tit{display: flex; gap: 5px; flex-wrap: nowrap; align-content: center;}
.wrapper-input.tit span,
.wrapper-input.tit span.bl{border-right: 1px solid #C3CBD9; text-align: center; width: 40px; font-weight: 400; font-size: 12.5px; line-height: 27px;} 
.wrapper-input.tit span.bl{border-right: 0px solid #C3CBD9; border-left: 1px solid #C3CBD9;}
/*테이블 끝*/


.gf_st_btn,
.st_btn button{background:transparent;border: 1px solid #2C51BF;; border-radius: 15px; font-weight: 500; font-size: 12px;color: #2C51BF; text-align: center; margin-left: 8px;height: 27px; line-height: 25px; padding: 0px 10px;}

.gf_st_btn.on,
.st_btn button.on,
.gf_st_btn:hover,
.st_btn button:hover{background: #2C51BF; color: #ffffff;}

.gf_st_btn.ds,
.st_btn button.ds{border: 1px dashed #C3CBD9; color: #A0ACBF;}
.gf_st_btn.ds:hover,
.st_btn button.ds:hover{border: 1px dashed #C3CBD9; color: #A0ACBF; background: transparent;}

.gf_st_btn{height: 100%;}
.gf_st_btn .new_win{background: url(/oceans/img/new_win.png)no-repeat center center; width: 15px; height: 15px; display: inline-block;vertical-align:sub; cursor: pointer;}











/**/
.box.grid-form {
display: grid;
grid-template-columns: 0fr 1fr 0fr 1fr 0fr 1fr 0fr;
gap: 8px;
}

.box.grid-form .divider {
grid-column: span 7;
height: 1px;
border: 1px dashed #dbe0e9;
margin: 8px 55px 8px 60px;
}

.box.grid-form .title-label.header,
.box.grid-form .title-label {
text-align: right;
height: auto;
align-self: center;
background-color: white;
white-space: nowrap;
font-size: 12px;
}

.box.grid-form .title-label.header {
width: 110px;
}
.box.grid-form .title-label.header.w90{width: 90px;}

.box.grid-form .printer-box {
display: flex;
gap: 2px;
border: 1px solid #dbe0e9;
border-radius: 24px;
padding: 4.5px 6px;
height: fit-content;
}
.box.grid-form .printer-box>div{cursor: pointer; width: 19px; height: 19px; display:inline-block;}
.box.grid-form .printer-box>div.icon_printer{ background: url(/oceans/img/icon_printer.png)no-repeat center center;}
.box.grid-form .printer-box>div.icon_circlecheck{ background: url(/oceans/img//icon_circlecheck.png) no-repeat center center;}
.box.grid-form .wrapper-input-single {
flex: 1;
display: flex;
background-color: white;
height: 100%;
white-space: nowrap;
position: relative;
border: 1px solid #c3cbd9;
border-radius: 2px;
overflow: hidden;
}

.box.grid-form .wrapper-input-single input {
width: 100%;
font-size: 12.5px;
font-weight: 400;
padding: 6px 8px;
}

.box.grid-form .wrapper-input-single textarea {
display: block;
resize: vertical;
width: 100%;
height: fit-content;
padding: 6px 8px;
min-height: fit-content;
}

.box.grid-form .wrapper-input-single .add-on {
padding: 6px 9px;
border-left: 1px solid #c3cbd9;
}
.box.grid-form .wrapper-input-single .add-on-r{border-right: 1px solid #c3cbd9;padding: 6px 9px;}

.box.grid-form .line-wrapper {
display: flex;
grid-column: span 5;
}

.box.grid-form .line-wrapper .multi-input {
background-color: #c3cbd9;
border-radius: 2px;
padding: 1px;
overflow: hidden;
gap: 1px;
flex: 1;
display: flex;
}


.box.grid-form .line-wrapper .wrapper-input.required,
.box.grid-form .line-wrapper .wrapper-input.first,
.box.grid-form .line-wrapper .wrapper-input.last,
.box.grid-form .line-wrapper .wrapper-input {
border: none;
flex: 1;
background-color: white;
height: 100%;
white-space: nowrap;
position: relative;
}

.box.grid-form .line-wrapper .wrapper-input>.date_ic,
.box.grid-form .line-wrapper .wrapper-input>.search_ic{
  position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 15px;
    height: 15px;
}
.box.grid-form .line-wrapper .wrapper-input>.search_ic{background: url(/oceans/img/icon_search.png)no-repeat center center}
.box.grid-form .line-wrapper .wrapper-input>.date_ic{background: url(/oceans/img/icon_date.png)no-repeat center center}

.box.grid-form .line-wrapper .wrapper-input.first {
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
}
.box.grid-form .line-wrapper .wrapper-input.last {
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
}
.box.grid-form .line-wrapper .wrapper-input.required {
outline: 1px solid #325bda;
}

.box.grid-form .line-wrapper .wrapper-input input {
width: 100%;
font-size: 12.5px;
font-weight: 400;
padding: 6px 17px 6px 5px;
}
.box.grid-form .line-wrapper .wrapper-input.icon_sl input::placeholder{color: #CFD5E1;}
.box.grid-form .line-wrapper .wrapper-input.icon_sl input{padding: 6px 38px 6px 5px;}
.box.grid-form .line-wrapper .wrapper-input input:disabled{padding: 6px 5px 6px 5px; text-align: center;} 
.box.grid-form .line-wrapper .wrapper-input select {
-moz-appearance: none; /* Firefox */
-webkit-appearance: none; /* Safari and Chrome */
appearance: none;
width: 100%;
height: 100%;
font-size: 12.5px;
font-weight: 400;
padding: 6px 8px;
}

.box.grid-form .line-wrapper .wrapper-checkbox {
display: flex;
padding: 0px 8px;
gap: 3px;
align-items: flex-start;
}
.box.grid-form .line-wrapper .wrapper-checkbox.cen{
align-items: center
}

.box.grid-form .line-wrapper .wrapper-input textarea {
display: block;
resize: vertical;
width: 100%;
height: fit-content;
padding: 6px 8px;
min-height: fit-content;
}