<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/new_main.css">

    <title>Search_conditions</title>
</head>

<body>
    <div class="header">
        <div class="menu"></div>
    </div>

    <div class="wrap">
        <div class="main_con">
            <!--검색 조건 부분-->
            <div class="st_tit">
                <div class="stt_tit">검색조건 레이아웃</div>
                <div class="stt_stiit">
                    <div class="stt_txt">Customer Service &nbsp;>&nbsp; Booking &nbsp;> <span>Booking Master <img src="/img/copy.png"></span></div>

                    <div class="l_line">|</div>

                    <div class="link_box">
                        <div><img src="/img/h_img1.png"></div>
                        <div><img src="/img/h_img2.png"></div>
                    </div>

                    <div class="l_line">|</div>

                    <div class="link_box">
                        <div><img src="/img/h_img3.png"></div>
                        <div><img src="/img/h_img4.png"></div>
                        <div><img src="/img/h_img5.png"></div>
                    </div>
                </div>
            </div>
            <!--검색 조건 부분-->

            <div class="section_box flex">

                <div class="search_wrap" >
                    <label class="form-label">BKG No.</label>
                    <div class="search">
                        <div class="search_inner">
                            <input type="text" value="ALPUS2200112">
                        </div>
                        <div class="tooltip">
                            <div class="tt_icn"></div>
                            <div class="tt_con">Tool tip guide text Tool tip guide text Tool tip guide text Tool tip</div>
                        </div>
                    </div>
                </div>

                <div class="search_wrap">
                    <label class="form-label input_wrap">B/L No.</label>
                    <div class="search">
                        <div class="search_inner">
                            <input type="text" value="ALPUS2200112">
                        </div>
                    </div>
                </div>

                <div class="search_wrap">
                    <label class="form-label input_wrap">P/O No.</label>
                    <div class="search">
                        <div class="search_inner">
                            <input type="text" value="">
                        </div>
                    </div>
                </div>

                <div class="search_btn">
                    <button class="breset"><img src="/img/Boxicons.png"></button>
                    <button class="bsearch">seach</button>
                </div>
            </div> 

            <div class="section_box top0">

                <div class="sb_title">
                    <div class="sb_l">
                        <div>Booking Office : <span>SELHO</span></div>
                        <div class="l_line">|</div>
                        <div>Staff : <span>OPUSADM</span></div>
                        <div>
                            <input type="checkbox" id="toggle" hidden class="toggle">
                            <label for="toggle" class="toggleSwitch">
                                <span class="toggleButton"></span>
                            </label>
                            <span class="sbt_b">Pre-Assigned BKG No.</span>
                        </div>

                        <div>
                            <input type="checkbox" id="toggle2" hidden class="toggle">
                            <label for="toggle2" class="toggleSwitch">
                                <span class="toggleButton"></span>
                            </label>
                            <span class="sbt_b">S/I</span>
                        </div>

                        <div>
                            <input type="checkbox" id="toggle3" hidden class="toggle">
                            <label for="toggle3" class="toggleSwitch">
                                <span class="toggleButton"></span>
                            </label>
                            <span class="sbt_b">Auto EDI Hold</span>
                        </div>
                    </div>

                    <div class="sb_r">
                        <div>Split : <span>No</span></div>
                        <div class="l_line">|</div>
                        <div>DPC : <span>Yes</span></div>
                        <div class="l_line">|</div>
                        <div>Status : <span><img src="/img/Mask_group.png"></span></div>
                        <div class="sbr_box">SP <img src="/img/Close.png"></div>
                        <div class="sbr_box">SP <img src="/img/Close.png"></div>
                    </div>
                </div>

                <div class="sbox_wrap" >
                    <div class="sbox_tit">
                        <div class="st_tit ip_check">Route Info.</div>
                        <div class="st_btn">
                            <button>Constraint</button>
                            <button>View Milestone</button>
                            <button>Route Detail</button >
                        </div>
                    </div>
                    
                    <div class="sbox_cox_fg1">
                        
                        <div>
                           1
                        </div>

                        <div>
                           2
                        </div>

                        <div>
                         3
                        </div>

                        <div>
                           4
                        </div>

                    </div>
                </div>

                <!---->
                <div class="sbox_wrap" >
                    <div class="sbox_tit">
                        <div class="st_tit ip_check">Contract Info..</div>
                        
                    </div>
                
                    <div class="sbox_cox_fg1">

                        <div>
                          1
                        </div>


                        <div>
                            2
                        </div>

                    </div>
                </div>
                
            </div>

            <div style="height:1px"></div>
        </div>

    </div>

    <div class="footer"></div>

    <script src="/js/main.js"> </script>
</body>

</html>